ion-content {
  --background: var(--ion-color-dark-brown) url('/assets/backgrounds/collection-bg.png') repeat-y top center / 100% auto;
}

ion-content::part(scroll) {
  padding-top: 0 !important;
}


.shop-wall {
  min-height: 100%;
}


.loading-container, .empty-text {
  text-align: center;
  margin-top: 2rem;
  color: var(--ion-color-light);
  font-size: 1.2rem;
  font-weight: 600;
}

.shop-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}