<ion-content [fullscreen]="true">
  <div class="shop-wall ion-padding">
    <app-title-sign title="Tienda"></app-title-sign>

    <app-gem-counter [amount]="playerCoins"></app-gem-counter>

    @if (unownedCollections.length === 0) {
      <p class="empty-text">¡Enhorabuena, ya tienes todas las colecciones!</p>
    } @else {
      <div class="shop-list">
        @for (collection of unownedCollections; track collection.id) {
          <app-shop-card
            [collection]="collection"
            [playerCoins]="playerCoins"
            [inventoryCounts]="inventoryCounts"
            (buyClicked)="openBuyModal($event)"
          >
          </app-shop-card>
        }
      </div>
    }
  </div>

  @if (selectedCollection) {
    <app-shop-buy-modal
      [isOpen]="isModalOpen"
      [collection]="selectedCollection"
      [isBuying]="isBuying"
      [playerCoins]="playerCoins"
      (dismissed)="onModalDismissed()"
      (confirmPurchase)="handlePurchase($event)"
      (insufficientFunds)="handleInsufficientFunds()"
    ></app-shop-buy-modal>
  }
</ion-content>
