ion-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
}

ion-modal::part(content) {
  height: fit-content;
  width: 85dvw;
  max-width: 400px;
}

.modal-content {
  padding: 16px;
  text-align: center;
  color: var(--ion-color-dark);

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }

  .error-icon {
    font-size: 1.5rem;
    color: var(--ion-color-danger);
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--ion-color-danger);
  }

  p.message {
    color: var(--ion-color-tertiary-contrast);
    font-size: 1.05rem;
    margin: 8px 0 16px;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 16px;

    .btn-modal {
      min-width: 120px;
    }
  }
}
