ion-content {
  --background: url('/assets/backgrounds/bookshelf-bg.png') repeat-y top center / contain;
}

.inventory-list {
  padding-bottom: 9rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
