<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <img src="assets/ui/icons/house-icon.png" alt="Casa" />
    </ion-tab-button>

    <ion-tab-button tab="collection" href="/tabs/collection">
      <img src="assets/ui/icons/collection-icon.png" alt="Colección" />
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <img src="assets/ui/icons/inventory-icon.png" alt="Inventario" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
