<ion-tabs>
  <!-- Iconos flotantes de acceso rápido: config y tienda -->
  <div class="corner-buttons">
    <a href="/config" class="corner-btn corner-btn--config"></a>
    <div class="corner-btn-wrapper">
      <ion-tab-button tab="shop" href="/tabs/shop" class="corner-btn--shop"></ion-tab-button>
    </div>
  </div>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="assets/ui/icons/house-icon.png" alt="Casa" />
    </ion-tab-button>

    <ion-tab-button tab="collection" href="/tabs/collection">
      <img src="assets/ui/icons/collection-icon.png" alt="Colección" />
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <img src="assets/ui/icons/inventory-icon.png" alt="Inventario" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
