<ion-tabs>
  @if (ui.showCornerButtons()) {
    <div class="corner-buttons">
      <a
        (click)="isCreateModalOpen = true"
        class="corner-btn--create"
        aria-label="Crear tarea"
        title="Crear tarea"
      ></a>
      <div class="corner-btn-group">
        <a
          (click)="isConfigOpen = true"
          class="corner-btn corner-btn--config"
          aria-label="Configuración"
          title="Configuración"
        ></a>
        <a
          [routerLink]="['/tabs/shop']"
          class="corner-btn corner-btn--shop"
          aria-label="Tienda"
          title="Tienda"
        ></a>
      </div>
    </div>
  }

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="/assets/icons/house-icon.png" alt="Casa" />
    </ion-tab-button>

    <ion-tab-button tab="collection" [routerLink]="['/tabs/collection']">
      <img src="/assets/icons/collection-icon.png" alt="Colección" />
    </ion-tab-button>

    <ion-tab-button tab="inventory" [routerLink]="['/tabs/inventory']">
      <img src="/assets/icons/inventory-icon.png" alt="Inventario" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-create-task-modal
  [isOpen]="isCreateModalOpen"
  [taskToEdit]="taskToEdit"
  [editMode]="editMode"
  (closed)="onModalDismissed()"
>
</app-create-task-modal>
<app-settings-modal [isOpen]="isConfigOpen" (closed)="isConfigOpen = false" />
