<ion-content [fullscreen]="true">
  <div class="backdrop-overlay" [class.visible]="selectedTask" (click)="actionPanelClosed()"></div>

  <div class="world-container">
    <div class="store-bg">
      <img src="/assets/ui/inside-store-top.png" alt="Home Layout" />
      <div class="inside-store-task-container">
        @for (task of todayTasks; track task.id) {
          <div class="inside-store-row">
            <img src="/assets/ui/inside-store-middle.png" alt="Home Layout" />
            <img src="/assets/ui/inside-store-middle.png" alt="Home Layout" />
            <app-task
              [task]="task"
              class="task"
              [class.selected]="selectedTask?.id === task.id"
              [attr.id]="'task-' + task.id"
              (handleTaskClick)="handleTaskClick(task, true)"
              [isSelected]="selectedTask?.id === task.id"
            />
          </div>
        }

        @if (todayTasks.length === 0) {
          <div class="inside-store-row">
            <img src="/assets/ui/inside-store-middle.png" alt="Home Layout" />
          </div>
        }
      </div>
      <img src="/assets/ui/inside-store-bottom.png" alt="Home Layout" />
    </div>

    <div class="street-area ion-padding">
      @for (task of otherTasks; track task.id) {
        <div class="street-row">
          <app-task
            [task]="task"
            class="task"
            [class.selected]="selectedTask?.id === task.id"
            [attr.id]="'task-' + task.id"
            (handleTaskClick)="handleTaskClick(task, false)"
            [isSelected]="selectedTask?.id === task.id"
          />
        </div>
      }
    </div>
  </div>

  <app-action-panel
    [isOpen]="isActionPanelVisible"
    [selectedTask]="selectedTask"
    [isTodayTask]="isSelectedTaskToday"
    (didClose)="actionPanelClosed()"
  />
</ion-content>
