<ion-modal [isOpen]="isOpen" (didDismiss)="onDismiss()" class="ion-no-padding"
  ><ng-template
    ><app-board width=""
      ><div class="modal-content">
        <h2>{{ title }}</h2>
        @if (message) {
          <p>{{ message }}</p>
        }
        <div class="modal-actions">
          <app-button type="medium" [fill]="false" (handleClick)="closeModal()">{{
            cancelLabel
          }}</app-button
          ><app-button [type]="confirmColor" (handleClick)="onConfirm()" btnClass="btn-modal">{{
            confirmLabel
          }}</app-button>
        </div>
      </div></app-board
    ></ng-template
  ></ion-modal
>
