<ion-modal [isOpen]="isOpen" (didDismiss)="onDismiss()" class="ion-no-padding">
  <ng-template>
    <app-board width="">
      <div class="modal-content">
        <h2>Ajustes</h2>

        <div class="settings-list">
          <div class="setting-item" (click)="toggleMusic()">
            <span>Música</span>
            <app-button [type]="isMusicMuted() ? 'medium' : 'primary'" btnClass="btn-setting">
              <ion-icon
                [name]="isMusicMuted() ? 'volume-mute-outline' : 'musical-notes-outline'"
              ></ion-icon>
            </app-button>
          </div>

          <div class="setting-item" (click)="toggleSounds()">
            <span>Efectos</span>
            <app-button [type]="isSoundsMuted() ? 'medium' : 'primary'" btnClass="btn-setting">
              <ion-icon
                [name]="isSoundsMuted() ? 'volume-mute-outline' : 'volume-high-outline'"
              ></ion-icon>
            </app-button>
          </div>

          <div class="setting-item logout" (click)="exitApp()">
            <span>Salir del juego</span>
            <app-button type="danger" btnClass="btn-setting">
              <ion-icon name="exit-outline"></ion-icon>
            </app-button>
          </div>
        </div>

        <div class="modal-actions">
          <app-button type="medium" [fill]="false" (handleClick)="close()" btnClass="btn-modal"
            >Cerrar</app-button
          >
        </div>
      </div>
    </app-board>
  </ng-template>
</ion-modal>
